@keyframes spinner {
    100% { transform: rotate(360deg) }
}

.spinner {
    animation: spinner 0.8s linear infinite;
    margin-left: 6px;
    width: 16px;
    height: 18px;
    display: inline-block;
}
